# Backend Configuration
DATABASE_URL=postgresql://user:password@db:5432/reviews_db
GEMINI_API_KEY=AQ.Ab8RN6J5tNos-C59WCM8PBzehnM09DOk38pLC3i5SlkUCjzJtQ

# Frontend Configuration
VITE_API_BASE_URL=http://localhost:8000
